img {
    height: 70vh;
    margin: 0 auto;
}
body{
    background-image: url("https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2FsbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80");
    background-size: cover;
    background-position:center;
}

#myCarousel {
    margin-top: 100px;
}
h1{
    margin-top: 50px;
    color: white;
}
.home {
    color: white;

}